<html>

<head>
  <script src="//unpkg.com/angular@1.5/angular.js"></script>
  <script src="//unpkg.com/@uirouter/angularjs@1.0.5/release/angular-ui-router.js"></script>
  <script src="/ng1/ui-router-title.js"></script>

  <!--  Hello Galaxy Code -->
  <script src="/ng1/app.js"></script>
  <script src="/ng1/services/people.js"></script>
  <script src="/ng1/services/router-service.js"></script>
  <script src="/ng1/components/hello.js"></script>
  <script src="/ng1/components/about.js"></script>
  <script src="/ng1/components/people.js"></script>
  <script src="/ng1/components/person.js"></script>

  <!-- Visualizer and url -->
  <link rel="stylesheet" href="/ng1/styles.css">
  <script src="//unpkg.com/show-current-browser-url"></script>
  <script src="//unpkg.com/d3@3"></script>
  <script src="//unpkg.com/@uirouter/visualizer@4.0.2"></script>
  <title>default</title>
  <base href="/ng1/">
</head>

<body ng-app="hello" ng-class="{'debug-sref': debug.uisref, 'debug-view': debug.uiview}">
  <div>
    <button onClick="document.location.reload(true)">reload plunker</button>
    <button ng-click="debug.uiview = !debug.uiview">{{ debug.uiview ? "disable" : "enable"}} ui-view debug</button>
    <button ng-click="debug.uisref = !debug.uisref">{{ debug.uisref ? "disable" : "enable"}} ui-sref debug</button>
  </div>
  <div class="nav">
    <a ui-sref="hello" ui-sref-active="active">Hello</a>
    <a ui-sref="about" ui-sref-active="active">About</a>
    <a ui-sref="people" ui-sref-active="active">People</a>
  </div>

  <ui-view></ui-view>
</body>

</html>
